/* ----- FONTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* ----- ELEMENTS ----- */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

/* ----- CARD ----- */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border-radius: 25px;
}

.card_figure img {
  width: 80vw;
  height: auto;
  border-radius: 25px;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(223, 47%, 23%);
  padding:1rem 0rem;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* ----- DESKTOP ----- */
@media (max-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}